# General
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env
.env.local
.env.production
.env.development
.env.*.local

# Docker
# docker-compose.yml 
docker-compose.override.yml*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out/


